<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="PHP Koans">
            <!-- <file>koans/00_AboutAssertsTest.php</file> -->
            <!-- <file>koans/00_AboutTrueAndFalse.php</file> -->
            <!-- <file>koans/01_AboutStringsTest.php</file> -->
            <!-- <file>koans/02_AboutVariablesTest.php</file> -->
            <!-- <file>koans/02_AboutControlStatementsTest.php</file> -->
        </testsuite>
    </testsuites>
</phpunit>
