<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="bootstrap.php"
         printerClass="KoansLib\KoanPrinter"
         colors="true"
         stopOnFailure="true">
    <testsuites>
        <testsuite name="PHP Koans">

            <!-- <file>koans/AboutAsserts.php</file>  -->
            <!-- <file>koans/AboutVariables.php</file> -->
            <!-- <file>koans/AboutTrueAndFalse.php</file> -->
            <!-- <file>koans/AboutControlStatements.php</file> -->
            <!-- <file>koans/AboutStrings.php</file> -->
            <!-- <file>koans/AboutStringManipulation.php</file> -->
            <!-- <file>koans/AboutArrays.php</file>  -->
            <!-- <file>koans/AboutEmptyIsNullOrIsset.php</file> -->
            <!-- <file>koans/AboutCallbackFunctions.php</file> -->
            <!-- <file>koans/AboutClasses.php</file> -->
            <!-- <file>koans/AboutDataTypes.php</file> -->
            <!-- <file>koans/AboutExceptions.php</file> -->
            <!-- <file>koans/AboutFunctions.php</file> -->
            <!-- <file>koans/AboutRegularExpressions.php</file> -->
            <!-- <file>koans/AboutArrayAssignment.php</file> -->
            <!-- <file>koans/AboutAssociativeArray.php</file> -->
            <!-- <file>koans/AboutObjects.php</file> -->
            <!-- <file>koans/AboutNull.php</file> -->
            <!-- <file>koans/AboutDateTime.php</file> -->

            <!-- <file>koansSolutions/AboutAsserts.php</file> -->
            <!-- <file>koansSolutions/AboutVariables.php</file> -->
            <!-- <file>koansSolutions/AboutTrueAndFalse.php</file> -->
            <!-- <file>koansSolutions/AboutControlStatements.php</file> -->
            <!-- <file>koansSolutions/AboutStrings.php</file> -->
            <!-- <file>koansSolutions/AboutStringManipulation.php</file> -->
            <!-- <file>koansSolutions/AboutArrays.php</file>  -->
            <!-- <file>koansSolutions/AboutEmptyIsNullOrIsset.php</file> -->
            <!-- <file>koansSolutions/AboutCallbackFunctions.php</file> -->
            <!-- <file>koansSolutions/AboutClasses.php</file> -->
            <!-- <file>koansSolutions/AboutDataTypes.php</file> -->
            <!-- <file>koansSolutions/AboutExceptions.php</file> -->
            <!-- <file>koansSolutions/AboutFunctions.php</file> -->
            <!-- <file>koansSolutions/AboutRegularExpressions.php</file> -->
            <!-- <file>koansSolutions/AboutArrayAssignment.php</file> -->
            <!-- <file>koansSolutions/AboutAssociativeArray.php</file> -->
            <!-- <file>koansSolutions/AboutObjects.php</file> -->
            <!-- <file>koansSolutions/AboutNull.php</file> -->
            <!-- <file>koansSolutions/AboutDateTime.php</file> -->
            
        </testsuite>
    </testsuites>
</phpunit>
