<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="PHP Koans">
            <file>koans/AboutAssertsTest.php</file>
            <!-- <file>koans/AboutTrueAndFalseTest.php</file> -->
            <!-- <file>koans/AboutStringsTest.php</file> -->
            <!-- <file>koans/AboutVariablesTest.php</file> -->
            <!-- <file>koans/AboutControlStatementsTest.php</file> -->
            <!-- <file>koans/AboutArraysTest.php</file> -->
        </testsuite>
    </testsuites>
</phpunit>
